# FastAPI & Async
fastapi
uvicorn[standard]
asyncpg
sqlalchemy[asyncio]
aiosqlite

# PostgreSQL support
psycopg2-binary

# AI & LangChain
langchain
langchain-community
langchain-google-genai
langchain-pinecone
langchain-openai
langchain-core
pinecone
pypdf
python-docx
docx2txt


# Data & Validation
pydantic
email-validator
python-multipart
python-dotenv
requests
psycopg2

# Audio Processing & Transcription
deepgram-sdk

# Date/Time Processing
python-dateutil

# Async utilities
asyncio

celery
flower
redis


# Video Processing
opencv-python
numpy
requests

# Audio Processing
ffmpeg-python

# Google API Dependencies
google-api-python-client
google-auth

#Email Sending
aiosmtplib

